@import url('https://giscus.app/themes/light.css');

main {
  --color-canvas-default: transparent !important;
  --color-canvas-overlay: transparent !important;
  --color-canvas-inset: rgba(0, 0, 0, 0.04) !important;
  --color-canvas-subtle: rgba(0, 0, 0, 0.04) !important;
  background: transparent !important;
  
  --color-border-default: rgba(0, 0, 0, 0.1) !important;
  --color-border-muted: rgba(0, 0, 0, 0.05) !important;
  
  --color-btn-primary-bg: #64748b !important;
  --color-btn-primary-border: #64748b !important;
  --color-btn-primary-hover-bg: #475569 !important;
  --color-btn-primary-hover-border: #475569 !important;
  --color-btn-primary-selected-bg: #334155 !important;
  
  --color-btn-hover-bg: rgba(0, 0, 0, 0.05) !important;
  --color-btn-hover-border: rgba(0, 0, 0, 0.1) !important;
}

body {
  background-color: transparent !important;
}
