@import url('https://giscus.app/themes/light.css');

body, main {
  background: transparent !important;
  
  --color-btn-primary-bg: #64748b !important;
  --color-btn-primary-border: #64748b !important;
  --color-btn-primary-hover-bg: #475569 !important;
  --color-btn-primary-hover-border: #475569 !important;
  --color-btn-primary-selected-bg: #334155 !important;
  
  --color-btn-hover-bg: rgba(0, 0, 0, 0.05) !important;
  --color-btn-hover-border: rgba(0, 0, 0, 0.1) !important;
}
